<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Shortcut.Properties.Settings.shortcutConnectionString"
            connectionString="user id=root;password=938002;server=localhost;persistsecurityinfo=True;database=shortcut"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>